BOT_TOKEN=your_token_here
MTPROXY_SOURCES=["https://raw.githubusercontent.com/SoliSpirit/mtproto/master/all_proxies.txt"]
PROXIES_SOURCES=["https://cdn.jsdelivr.net/gh/proxifly/free-proxy-list@main/proxies/protocols/socks5/data.txt"]
CHECK_TIMEOUT=5
HEALTH_CHECK_INTERVAL=30
